/* editor content */

/*for pages without a sidebar*/

.galleryCenter {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom: 15px;
}

#content.wide2 .galleryCenter {
	margin: 0 0 15px 24px;
}

.galleryCenter p {
	float: left;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	width: 224px;
	color: #838385;
	margin: 0 4px;
	text-align: center !important;
}

.galleryCenter img {
	text-align: center;
	width: 224px;
	margin: 0 4px;
}

/*for pages with a sidebar*/

.galleryLeft {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 0 15px 24px;
}

.galleryLeft p {
	float: left;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	width: 224px;
	color: #838385;
	margin: 0 4px;
	text-align: center !important;
}

.galleryLeft img {
	text-align: center;
	width: 224px;
	margin: 0 4px;
}