ul.sigProClassic li.sigProThumb {
	position: relative;
	padding: 6px;
	margin: 0 0 15px 33px;
	background-color: transparent !important;
}

ul.sigProClassic li.sigProThumb span.sigProLinkOuterWrapper {
	background: url('../images/galleryImageShadow.png') bottom center no-repeat;
	position: relative;
	height: 118px;
	width: 213px;
	padding: 0 0 12px 0;
}

ul.sigProClassic li.sigProThumb span.sigProLinkWrapper {
	border: none;
}

ul.sigProClassic li.sigProThumb span.sigProLinkWrapper .mask {
	position: absolute;
	background: url('../images/imgFrame.png') top center no-repeat;
	z-index: 2;
	border: none;
	height: 129px;
	width: 224px;
	top: 0px;
	margin: -6px 0 0 -6px;
}