ul.sigProClassic li.sigProThumb {
	position: relative;
	padding: 6px;
}

ul.sigProClassic li.sigProThumb span.sigProLinkOuterWrapper {
	background: url('../images/galleryImageShadow.png') bottom center no-repeat;
	position: relative;
	height: 118px;
	width: 213px;
	padding: 0 0 12px 0;
}

ul.sigProClassic li.sigProThumb span.sigProLinkWrapper {
	position: absolute;
	background: url('../images/imgFrame.png') top center no-repeat;
	z-index: 2;
	border: none;
	padding: 6px;
}

ul.sigProClassic li.sigProThumb a.sigProLink img.sigProImg, ul.sigProClassic li.sigProThumb a.sigProLink:hover img.sigProImg {
	position: absolute;
	z-index: 1;
}