/* layout */
.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}
#body .container {background: url('../images/bodyTopShadow.png') top center no-repeat;}

#header {
	background: url('../images/headerBG.jpg') top center no-repeat;
	height: 401px;
}

#header > div {background: url('../images/headerTopBar.png') top center repeat-x; height: 100%;}
#header > div > div {background: url('../images/headerBottomBar.png') bottom center repeat-x; height: 100%;}

#body {background: url('../images/bodyTopLines.png') top center repeat-x;}
#body > div {background: url('../images/bodyBottomLines.png') bottom center repeat-x;}

#bodyTop {margin-right: -10px;}

#content {
	float: left;
	width: 620px;
	padding-right: 10px;
	margin: 20px 0 25px 0;
}

#sidebar {
	float: left;
	width: 270px;
	padding: 0 10px 0 29px;
	border-left: 1px solid #e5e5e5;
	margin: 20px 0 25px 0;
}

#bottom {
	clear: both;
	padding: 0 0 35px 0;
}

#footer {
	background: url('../images/footerBG.jpg') top center repeat;
	padding: 0 0 20px 0;
}

#footer > div {background: url('../images/footerTopBorder.png') top center repeat-x; padding-top: 6px;}

#copyright {
	background: url('../images/footerLogoImprint.png') left top no-repeat;
	float: left;
	font-size: 10px;
	color: #404143;
	padding: 7px 0 7px 60px;
	line-height: 16px;
	margin-top: 10px;
}
#copyright a {color: #404143;}
