/* layout */
#body {background: url('../images/bodyTopLines.png') top center repeat-x;}
#body > div {background: url('../images/bodyBottomLines.png') bottom center repeat-x;}

#content {
	float: left;
	width: 620px;
	padding-right: 10px;
}

#sidebar {
	float: left;
	width: 270px;
	padding: 0 10px 0 30px;
}