/* layout */
.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}
#body .container {background: url('../images/bodyTopShadow.png') top center no-repeat;}

#header {
	background: #ffffff url('../images/headerBG.jpg') top center no-repeat;
	overflow: hidden;
	position: relative;
	height: 400px;
}
#header.close { height: 215px;}

#header > div {background: url('../images/headerTopBar.png') top center repeat-x; height: 100%;}
#header > div > div {background: url('../images/headerBottomBar.png') bottom center repeat-x; height: 100%;}

#header .button {
	background: url('../images/close.png') bottom right no-repeat;
	height: 24px;
	width: 24px;
	float: right;
	cursor: pointer;
	
	-webkit-transition: -webkit-transform .5s linear;
	-moz-transition: -moz-transform 0.2s linear;
	-o-transition: -o-transform 0.2s linear;
	-ms-transition: -ms-transform 0.2s linear;
	transition: transform 0.2s linear;
	
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

#header.close .button {
	background: url('../images/open.png') bottom right no-repeat;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	}

#body {background: #ffffff url('../images/bodyTopLines.png') top center repeat-x;}
#body > div {background: url('../images/bodyBottomLines.png') bottom center repeat-x;}

#bodyTop {padding-bottom: 30px;}

#content {
	float: left;
	padding-right: 10px;
	margin: 30px 0;
}
.testimonials #content {width: 100%;}

#sidebar {
	float: left;
	width: 270px;
	padding: 0 10px 0 9px;
	border-left: 1px solid #e5e5e5;
	margin: 0;
}
.gallery #sidebar {margin-bottom: 50px;}

#bottom {
	float: left;
	padding: 0 0 35px 0;
}

#footer {
	background: url('../images/footerBG.jpg') top center repeat;
	padding: 0 0 20px 0;
}

#footer > div {background: url('../images/footerTopBorder.png') top center repeat-x; padding-top: 6px;}

#copyright {
	background: url('../images/footerLogoImprint.png') left top no-repeat;
	float: left;
	font-size: 10px;
	color: #404143;
	padding: 7px 0 7px 60px;
	line-height: 16px;
	margin-top: 10px;
}
#copyright a {color: #404143;}

.wide1 {width: 100%;}
.wide2 {width: 620px}

