/* @group modules */
.moduletable {}

/* @group hmenu */

.module_hmenu ul,
.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.module_hmenu ul li,
.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.module_hmenu.primary {
	background: url('../images/menuShadow.png') bottom center no-repeat;
	position: relative;
	top: 70px;
	font-family: bank gothic; /*TODO ADD @font-face*/
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 13px;
}

.module_hmenu.primary > div {background: url('../images/menuBar_repeat.png') top center repeat-x;}

.module_hmenu.primary ul {
	width: 940px;
	margin: 0 auto;
}

.module_hmenu.primary li {
	padding: 0 10px;
	margin: 30px 0;
}

.moduletable_hmenu.secondary {
	float: right;
	margin-top: 20px;
	font-size: 11px;
	line-height: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.moduletable_hmenu.secondary > ul > li:first-child {border-left: none;}
.moduletable_hmenu.secondary > ul > li {
	padding: 0 18px;
	border-left: 1px solid #404143;
}
.moduletable_hmenu.secondary a {color: #404143;}
.moduletable_hmenu.secondary a:hover {color: #ffffff; text-decoration: none; text-shadow: none;}

/* /vmenu */

/*bodyTop*/

#bodyTop .module {
	float: left;
	position: relative;
	width: 300px;
	padding: 10px 0 30px 20px;
}

#bodyTop .module:first-child {padding-left: 0;}

#bodyTop .module > div > div > div {padding: 20px 20px 30px;}

#bodyTop .module:hover {
	position: relative;
	width: 300px; 
	color: #ffffff;
	font-weight: lighter;
	padding-top: 0;
	padding-bottom: 15px;
}
#bodyTop .module:hover > div {background: url('../images/bodyTopModuleTop.jpg') top center no-repeat; padding-top: 10px;}
#bodyTop .module:hover > div > div {background: url('../images/bodyTopModuleBottom.png') bottom center no-repeat; padding-bottom: 15px;}
#bodyTop .module:hover > div > div > div {background: url('../images/bodyTopModuleMiddle.jpg') center repeat-y; padding: 20px 20px 30px;}

#bodyTop .module:hover h3 {background: url('../images/bodyTopLogoImprint.png') left top no-repeat; color: #ffffff;}
#bodyTop .module:hover p {font-style: italic;}
#bodyTop .module:hover p:first-child:before {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 260px;
	top: 65px;
	background: url('../images/dividerLine.jpg') top center no-repeat;
}

/*sidebar*/

#sidebar .moduletable {margin-bottom: 30px;}