/* @group modules */
.moduletable {}

/* @group hmenu */

.module_hmenu ul,
.moduletable_hmenu > ul	 {
	margin: 0;
	padding: 0;
}

.module_hmenu ul li,
.moduletable_hmenu > ul > li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.module_hmenu.primary {
	background: url('../images/menuShadow.png') bottom center no-repeat;
	position: relative;
	top: 70px;
	font-family: "purista-web", Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 13px;
	z-index: 2;
}

.module_hmenu.primary > div {background: url('../images/menuBar_repeat.png') top center repeat-x;}

.module_hmenu.primary ul {
	width: 940px;
	margin: 0 auto;
}

.module_hmenu.primary li {
	padding: 0 10px;
	margin: 0px;
	line-height: 76px;
}

.module_hmenu.primary a:hover {text-decoration: none;}

.moduletable_hmenu.secondary {
	float: right;
	margin-top: 20px;
	font-size: 11px;
	line-height: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.moduletable_hmenu.secondary > ul > li:first-child {border-left: none;}
.moduletable_hmenu.secondary > ul > li {
	padding: 0 18px;
	border-left: 1px solid #404143;
}
.moduletable_hmenu.secondary a {color: #404143;}
.moduletable_hmenu.secondary a:hover {color: #ffffff; text-decoration: none; text-shadow: none;}

/* header */

.module.headerImg {
	position: absolute;
	top: 5px;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.module.headerImg > div {
	margin: 0 auto;
	text-align: center;
}

.buttonContainer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index:2;
}

.buttonContainer > div {
	position: relative;
	margin: 0 auto;
	width: 900px;
}

/*sidebar*/

#sidebar .module {
	position: relative;
	width: 290px;
	padding: 20px 0 40px;
	font-style: italic;
	margin-left: -10px;
	margin: 0;
	color: #002d62
}

/* CUSTOM LINK FOR bodyTop and sidebar modules*/

.module a.customLink,
.moduletable a.customLink,
.item-page a.customLink {
	font-size: 14px;
	font-style: normal;
	background: url('../images/buttonLink.png') top left no-repeat; 
	padding-left: 25px;
	margin-top: 15px;
	position: absolute;
	left: 110px;
	bottom: -15px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	cursor: pointer;
}
.module a.customLink:hover,
.moduletable a.customLink:hover,
.item-page a.customLink:hover {
	background: url('../images/buttonLinkBlue.png') top left no-repeat; 
}

.module .customLink span,
.moduletable .customLink span,
.item-page a.customLink span {
	background: url('../images/buttonLink.png') bottom right no-repeat; 
	padding-right: 25px; 
	line-height: 35px; 
	display: inline-block;
	color: #083262;
}
.module a.customLink:hover span,
.moduletable a.customLink:hover span,
.item-page a.customLink:hover span {
	background: url('../images/buttonLinkBlue.png') bottom right no-repeat;
	color: #fff;
	text-shadow: none;
}

a.customLink.first {left: 120px;}
a.customLink.second {left: 120px;}
a.customLink.third {left: 110px;}

#sidebar .module a.customLink {
	left: 75px;
}

.item-page a.customLink {
	left: 240px;
}

/*bottom gallery*/

.moduletable.galleryTitle {
	float: left;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 225px;
	color: #838385;
	margin: 0 4px;
	text-align: center;
}
