/* @group modules */
.moduletable {}

/* @group hmenu */

.module_hmenu ul,
.moduletable_hmenu > ul	 {
	margin: 0;
	padding: 0;
}

.module_hmenu ul li,
.moduletable_hmenu > ul > li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.module_hmenu.primary {
	background: url('../images/menuShadow.png') bottom center no-repeat;
	position: relative;
	top: 70px;
	font-family: "purista-web", Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 13px;
	z-index: 2;
}

.module_hmenu.primary > div {background: url('../images/menuBar_repeat.png') top center repeat-x;}

.module_hmenu.primary ul {
	width: 940px;
	margin: 0 auto;
}

.module_hmenu.primary li {
	padding: 0 10px;
	margin: 0px;
	line-height: 76px;
}

.module_hmenu.primary a:hover {text-decoration: none;}

.moduletable_hmenu.secondary {
	float: right;
	margin-top: 20px;
	font-size: 11px;
	line-height: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.moduletable_hmenu.secondary > ul > li:first-child {border-left: none;}
.moduletable_hmenu.secondary > ul > li {
	padding: 0 18px;
	border-left: 1px solid #404143;
}
.moduletable_hmenu.secondary a {color: #404143;}
.moduletable_hmenu.secondary a:hover {color: #ffffff; text-decoration: none; text-shadow: none;}

/* header */

.module.headerImg {
	position: absolute;
	top: 5px;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.module.headerImg > div {
	margin: 0 auto;
	text-align: center;
}

.buttonContainer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index:2;
}

.buttonContainer > div {
	position: relative;
	margin: 0 auto;
	width: 900px;
}

/*bodyTop*/

#bodyTop .module {
	float: left;
	position: relative;
	padding: 10px 0 30px 20px;
}

#bodyTop .module > div > div > div {padding: 20px 20px 30px;}

#bodyTop .module:first-child {margin-left: -20px;}

#bodyTop .module:hover {
	background: url('../images/bodyTopModuleTop.jpg') 20px top no-repeat; 
	position: relative;
	color: #ffffff;
	font-weight: lighter;
	padding: 0 0 15px 20px;
}

#bodyTop .module:hover > div {background: url('../images/bodyTopModuleBottom.png') bottom center no-repeat; padding-bottom: 15px; *zoom: 1;}
#bodyTop .module:hover > div > div {background: url('../images/bodyTopModuleMiddle.jpg') center repeat-y; padding: 0; margin-top: 10px;}
#bodyTop .module:hover > div > div > div {background: url('../images/bodyTopLogoImprint.png') 20px 20px no-repeat;}

#bodyTop .module:hover h3 {background: url('../images/dividerLine.jpg') center 38px no-repeat;; color: #ffffff;}
#bodyTop .module:hover p {font-style: italic;}

/*sidebar*/

#sidebar .module {
	position: relative;
	width: 300px;
	padding: 10px 0 60px 19px;
	font-style: italic;
	margin-left: -10px;
	margin: -30px 0 0 -10px;
}
#sidebar .module > div {padding-bottom: 15px;}
#sidebar .module > div > div {padding-top: 20px;}
#sidebar .module > div > div > div {padding: 0px 20px 45px;}

#sidebar .module h3 {font-style: normal;}

#sidebar .module:hover {
	background: url('../images/bodyTopModuleTop.jpg') 19px top no-repeat;
	color: #ffffff;
}

#sidebar .module:hover > div {background: url('../images/bodyTopModuleBottom.png') bottom center no-repeat; padding-bottom: 15px; *zoom: 1;}
#sidebar .module:hover > div > div {background: url('../images/bodyTopModuleMiddle.jpg') center repeat-y; padding-top: 20px; }
#sidebar .module:hover > div > div > div {background: url('../images/bodyTopLogoImprint.png') 20px top no-repeat;}

#sidebar .module:hover h3 {background: url('../images/dividerLine.jpg') center 38px no-repeat; color: #ffffff;}
#sidebar .module:hover p {*zoom: 1;} /*fixes issue in ie7*/

/* CUSTOM LINK FOR bodyTop and sidebar modules*/

.module a.customLink,
.moduletable a.customLink {
	font-size: 14px;
	font-style: normal;
	background: url('../images/buttonLink.png') top left no-repeat; 
	padding-left: 20px;
	margin-top: 15px;
	position: absolute;
	left: 110px;
	bottom: 10px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.module .customLink span,
.moduletable .customLink span {
	background: url('../images/buttonLink.png') bottom right no-repeat; 
	padding-right: 20px; 
	line-height: 35px; 
	display: inline-block;
}

a.customLink.first {left: 120px;}
a.customLink.second {left: 120px;}
a.customLink.third {left: 110px;}
#sidebar .module a.customLink {left: 106px; bottom: 53px;}

/*bottom gallery*/

.moduletable.galleryTitle {
	float: left;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 225px;
	color: #838385;
	margin: 0 4px;
	text-align: center;
}
