/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #002e62; color:#fff; text-shadow: none; }
::selection { background:#002e62; color:#fff; text-shadow: none; }

.menu li.item-106 {position: relative; width: 317px;}
.menu li img + span {text-indent: -9000px;}
.menu li img {
	position: absolute;
	left: 6px;
	top: -65px;
}

